/* Variables */
:root {
    /* Colores 
    --primary: #dbf4f2;
    --primary-light: #e9f7f6;
    --secondary: #faebe2; 
    --secondary-light: #e8dfda; 
    --terciary: #d4c3e2;
    --purple-light: #f5eff8;
    --white: #fff;
    --black: #161616;
    --black-light: #302f2f; */
    --primary: #ee7b6a;
    --primary-light: #fff2f0;
    --primary-dark: #f87864;
    --secondary: #373c9e; 
    --secondary-light: #bbbef0; 
    --terciary: #90e5ee;
    --terciary-light: #eafeff;
    --gray: #f4f6fa;
    --success: #26ae60;
    --error: #f05858;
    --white: #fff;
    --black: #161616;
    --black-light: #302f2f;
}

/* Estilos base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header */
.header {
    width: 100%;
    min-height: 10rem;
    padding: 10px 20px 20px;
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--white);
}

.nav {
    display: flex;
    margin-bottom: 1rem;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
}

.navbar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: var(--black-light);
}

.navbar__item:hover {
    border-radius: 20px;
    background-color: var(--primary-light);
}

.navbar__item:active {
    border-radius: 20px;
    background-color: var(--primary-light);
}

.section-half {
    height: auto;
    background-color: var(--white);
    font-size: 1.6rem;
}

.section-half__container {
    padding: 15px;
    border-radius: 30px 30px 0 0;
    background-color: var(--primary-light);
}


.section {
    min-height: calc(100vh - 20rem);
    padding-bottom: 20px;
    background-color: var(--primary-light);
}

.section__container {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--white);
}

.section__title {
    margin: 10px 0;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.carousel__item {
    margin: 0 10px;
    scroll-snap-align: center;
    text-align: center;
    text-decoration: none;
}

.carousel__item:first-child {
    margin-left: 35px;
}

.carousel__item:last-child {
    margin-right: 35px;
}

.carousel__item .item__title {
    display: inline-block;
    color: var(--black);
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 240px;
    height: 35rem;
    margin: 5px 0;
    padding: 20px;
    border-radius: 30px;
    color: var(--black-light);
    background-color: var(--primary);
}

.card:hover {
    cursor: pointer;
    outline: 5px solid var(--white);
    background-color: var(--terciary);
}

.card__figure-icon {
    font-size: 150px;
    color: var(--primary-light);
}

.card__title {
    margin-top: .6rem;
    font-size: 2rem;
    color: var(--white);
}

.card__text {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: var(--black-light);
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    color: var(--white);
}

.card__icon {
    vertical-align: middle;
    font-size: 1.6rem;
}

/* Taller #2 */
.tabs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 425px;
    margin: 0 auto;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-rounded--fill {
    font-variation-settings:
    'FILL' 1
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85px;
    margin: 5px 0px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
}

.tab--large {
    width: 140px;
}

.tab:hover {
    cursor: pointer;
    color: var(--black);
    background-color: var(--gray);
}

.tab:active, .active {
    color: var(--white);
    background-color: var(--primary);
}

/* Section form */
.figure-icon {
    display: flex;
    justify-content: center;
    font-size: 150px;
    color: var(--primary);
}

.label-input {
    display: block;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.input {
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    background-color: var(--gray);
}

.button {
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    border: 1px solid var(--black);
    border-radius: 10px;
    color: var(--white);
    background-color: var(--black);
}

.button:hover {
    cursor: pointer;
    background-color: var(--black-light);
}

.button--outline {
    color: var(--black);
    background-color: var(--white);
}

.button--outline:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--black-light);
}

.result-container {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    background-color: var(--terciary);
}

.result__item {
    margin: 5px 0px;
    padding: 6px 6px;
    border-radius: 10px;
    background-color: var(--terciary-light);
}

.result__item span {
    color: var(--primary);
}

.result--error {
    color: var(--white);
    background-color: var(--error);
}

.coupon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    margin: 5px 0px;
    padding: 5px 5px;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    color: var(--primary);
    background-color: var(--white);
}

.message-coupon {
    width: 100%;
    height: auto;
    border: 3px dashed var(--white);
    border-radius: 10px;
    text-align: center;
    font-size: 1.6rem;
}

.message-coupon--success {
    margin-bottom: 10px;
    padding: 10px;
    color: var(--white);
    background-color: var(--success);
}

.message-coupon--error {
    margin-bottom: 10px;
    padding: 10px;
    color: var(--white);
    background-color: var(--error);
}

.hidde {
    display: none;
}

/** Taller #3 **/
.section--list {
    margin-bottom: 20px;
}

.list__container {
    width: 90%;
    min-height: 15rem;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.list__title {
    font-size: 1.5rem;
    color: var(--primary);
}

.list__subtitle {
    display: block;
    margin-top: 0.4rem;
    font-size: 1.4rem;
    color: var(--black-light);
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list__item {
    min-width: 50px;
    min-height: 2rem;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    color: var(--white);
    font-size: 1.4rem;
    list-style: none;
    border-radius: 30px;
    background-color: var(--primary);
}

.list-weighted-mean__item {
    min-width: 50px;
    min-height: 2rem;
    margin: 5px;
    list-style: none;
    text-align: center;
    font-size: 1.4rem;
    color: var(--white);
}

.list-weighted-mean__sub-item {
    display: inline-block;
    width: 100px;
    padding: 5px 10px;
    background-color: var(--primary);
}

.list-weighted-mean__sub-item--left {
    border-radius: 30px 0 0 30px;
}

.list-weighted-mean__sub-item--right {
    border-radius: 0 30px 30px 0;
    background-color: var(--secondary-light);
}

.list__buttons {
    display: flex;
    justify-content: space-between;
}

.list__buttons .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    
}