/* Variables */
:root {
    /* Colores */
    /* 
    --primary: #dbf4f2;
    --primary-light: #e9f7f6;
    --secondary: #faebe2; 
    --secondary-light: #e8dfda; 
    --terciary: #d4c3e2;
    --purple-light: #f5eff8;
    --white: #fff;
    --black: #161616;
    --black-light: #302f2f; */
    --primary: #ee7b6a;
    --primary-light: #fff2f0;
    --secondary: #373c9e; 
    --secondary-light: #bbbef0; 
    --terciary: #90e5ee;
    --terciary-light: #eafeff;
    --gray: #f4f6fa;
    --success: #26ae60;
    --error: #f05858;
    --white: #fff;
    --black: #161616;
    --black-light: #302f2f;
}

/* Estilos base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header */
.header {
    width: 100%;
    min-height: 10rem;
    padding: 20px;
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--white);
}

.selector-figures-section {
    height: auto;
    background-color: var(--white);
    font-size: 1.6rem;
}

.selector-figures-container {
    padding: 15px;
    border-radius: 30px 30px 0 0;
    background-color: var(--primary-light);
}

.list-figures,
.coupon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 425px;
    margin: 0 auto;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-rounded--fill {
    font-variation-settings:
    'FILL' 1
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85px;
    margin: 5px 0px;
    padding: 10px;
    color: var(--black);
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--white);
}

.item--large {
    width: 140px;
}

.item:hover {
    cursor: pointer;
    color: var(--black);
    background-color: var(--gray);
}

.item:active, .active {
    color: var(--white);
    background-color: var(--primary);
}

.section {
    min-height: calc(100vh - 10rem);
    padding: 30px 0;
    border-radius: 30px 30px 0 0;
    background-color: var(--primary-light);
}

/* Seccion calculadora */
.calculator-section {
    min-height: calc(100vh - 20rem);
    padding-bottom: 20px;
    background-color: var(--primary-light);
}

.calculator-container {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--white);
}

.calculator__title {
    margin: 10px 0;
}

.figure-icon {
    display: flex;
    justify-content: center;
    font-size: 150px;
    color: var(--primary);
}

.label-input {
    display: block;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.input {
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    padding: 5px 20px;
    font-size: 1.4rem;
    border: none;
    border-radius: 10px;
    background-color: var(--gray);
}

.button {
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    color: var(--white);
    border: 1px solid var(--black);
    border-radius: 10px;
    background-color: var(--black);
}

.button:hover {
    cursor: pointer;
    background-color: var(--black-light);
}

.button--outline {
    color: var(--black);
    background-color: var(--white);
}

.button--outline:hover {
    color: var(--white);
    cursor: pointer;
    background-color: var(--black-light);
}

.result {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    background-color: var(--terciary);
}

.result__item {
    margin: 5px 0px;
    padding: 6px 6px;
    border-radius: 10px;
    background-color: var(--terciary-light);
}

.result__item span {
    color: var(--primary);
}

.resultado--error {
    color: var(--white);
    background-color: var(--error);
}

.coupon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    margin: 5px 0px;
    padding: 5px 5px;
    color: var(--primary);
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--white);
}

.messageCoupon {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    text-align: center;
    border: 3px dashed var(--white);
    border-radius: 10px;
}

.messageCoupon--success {
    margin-bottom: 10px;
    padding: 10px;
    color: var(--white);
    background-color: var(--success);
}

.messageCoupon--error {
    margin-bottom: 10px;
    padding: 10px;
    color: var(--white);
    background-color: var(--error);
}

.hidde {
    display: none;
}

/** Taller #3 **/
.section--list {
    margin-bottom: 20px;
}

.list-container {
    width: 90%;
    min-height: 15rem;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.list-title {
    font-size: 1.5rem;
    color: var(--primary);
}

.list-subtitle {
    display: block;
    font-size: 1.4rem;
    color: var(--black-light);
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-item {
    min-width: 50px;
    min-height: 2rem;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    color: var(--white);
    font-size: 1.4rem;
    list-style: none;
    border-radius: 30px;
    background-color: var(--primary);
}

.list-weighted-mean__item {
    min-width: 50px;
    min-height: 2rem;
    margin: 5px;
    text-align: center;
    color: var(--white);
    font-size: 1.4rem;
    list-style: none;
}

.list-weighted-mean__sub-item {
    display: inline-block;
    width: 100px;
    padding: 5px 10px;
    background-color: var(--primary);
}

.list-weighted-mean__sub-item--left {
    border-radius: 30px 0 0 30px;
}

.list-weighted-mean__sub-item--right {
    border-radius: 0 30px 30px 0;
    background-color: var(--secondary-light);
}

.list-buttons {
    display: flex;
    justify-content: space-between;
}

.list-buttons .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    
}